/*custum properties*/
:root {
  line-height: 1.8em;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.hero-bg {
  background: url("../images/mae-mu-8Vh6ulKc50o-unsplash.jpg");
  background-size: cover;
  padding-bottom: 4em;
  text-align: center;
}

header {
  padding: 1em;
  margin-bottom: 3.7em;
}
header a {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: bold;
}

h1 {
  font-size: 2.8rem;
  line-height: normal;
}
h1 span {
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;
  z-index: 1;
  position: relative;
}

h1 span::before {
  content: "";
  background-color: #db892c;
  width: 2.8em;
  height: 0.4em;
  z-index: -1;
  bottom: 0;
  margin-left: -0.3em;
  position: absolute;
}

.hero-bg {
  font-weight: bold;
  margin: 0 0 0em;
  text-align: center;
}
.hero-bg p {
  margin-bottom: 3.5em;
  margin-top: 3.7em;
}

.top-section {
  text-align: center;
  color: white;
  font-weight: bold;
}

.form-container {
  background-color: white;
  padding: 2em;
  margin: 2em -1em 0;
}
.form-container label {
  color: rgb(56, 125, 160);
  font-size: 1.3rem;
  display: block;
  margin-bottom: 0.7em;
  font-weight: bold;
}
.form-container input[type=text] {
  width: 100%;
  border: 1px solid #707070;
  padding: 1em;
  border-radius: 0.5em;
  margin-top: 1em;
  box-sizing: border-box;
}
.form-container p {
  color: gray;
  font-weight: normal;
  margin-top: 0.5em;
  margin-bottom: 1.2em;
}
.form-container input[type=button] {
  width: 100%;
  padding: 1em;
  color: white;
  background-color: #e79537;
  border-radius: 0.5em;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  cursor: pointer;
}
.form-container input[type=button]:hover {
  background-color: #d48b37;
}

.authentic {
  margin: 0;
  text-align: center;
}
.authentic h2 {
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  z-index: -1em;
}
.authentic h2::before {
  content: "";
  background-color: #e79537;
  height: 0.4em;
  width: 7.5em;
  position: absolute;
  z-index: -1;
  bottom: 0;
  margin-left: -0.3em;
}

.right-col p {
  margin-bottom: 2.5em;
  margin: 0 1em 2.8em;
}

img {
  width: 100%;
}

.overlay {
  position: absolute;
  height: 100vh;
  width: 100%;
  background: rgba 0, 0, 0, 0.9;
  z-index: 1;
  place-content: center;
  color: white;
  display: none;
  opacity: 0;
}

.animate-overlay {
  -webkit-animation: overlay 3s forwords;
          animation: overlay 3s forwords;
}

@media (min-width: 600px) {
  section {
    margin: 0 4em;
  }
  .form-container {
    margin: 2em -4em 0;
  }
}
@media (min-width: 880px) {
  .top-section {
    text-align: left;
  }
  .top-section p {
    margin: 0 0 3em;
  }
  .hero-bg section {
    width: 65%;
  }
  .form-container {
    margin: 2em 0 0;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 10px 10px 10px rgb(0, 0, 3);
  }
  .form-container .left-form {
    width: 70%;
  }
  .form-container input[type=button] {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 1em;
    margin-left: 1em;
    margin-top: 2.6em;
    padding: 0.8em 0;
    width: 30%;
  }
  .form-container label {
    margin-bottom: 0;
  }
  .form-container form {
    display: flex;
  }
  .authentic {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "bowl content";
  }
  .right-col {
    grid-area: content;
    padding: 0 10%;
    text-align: left;
    align-self: center;
    align-items: center;
  }
  img {
    grid-area: bowl;
  }
  h2 {
    padding-left: 1em;
  }
}
.top-section {
  -webkit-animation: fadeIn 2s forwards;
          animation: fadeIn 2s forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-2em);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=main.css.map */