
/*custum properties*/
:root{
  line-height: 2em;
}
body{
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.hero-bg{
  background: url('../images/mae-mu-8Vh6ulKc50o-unsplash.jpg');
  background-size: cover;
  
}
header{
 padding: 1em;

 a{
   color: white;
   text-decoration: none;
   font-weight: bold;
 }
}
 
h1{
  font-size: 3rem;
  line-height: normal;

  
span{
  text-transform: uppercase;
  display: block;
  font-size: 1.4rem;

 }

}



.top-section{
  text-align: center;
  color: white;
  font-weight: bold;
}